#splash {
  color: white;
  font-size: 2vw;
  text-align: center;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  transition-duration: 0.2s;
  text-shadow: 0px 2px 7px black;
  animation-name: fade-in;
  animation-duration: 0.4s;
}

#splashHolder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1000;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

.splashImage {
  width: 40vh;
  height: 40vh;
}

#splashHolder.hideSplash {
  filter: opacity(0%);
  opacity: 0;
  visibility: hidden;
  z-index: -1000;
}

.prebody {
  height: 66vh;
  width: 100%;
}

canvas {
	display: block;
	width: 100%;
	height: inherit;
	margin: auto;
  z-index: -2;
  position: relative;
  background-color: white;
}

.podium {
  position: absolute;
  z-index: 3;
  transition-duration: 0.5s;
  filter: opacity(0);
  opacity: 0;
  padding-top: 50px;
}

.podiumImage {
  width: 35vh;
  height: 35vh;
  background-image: url('../files/teams/1.webp');
  background-size: contain;
  transition-duration: 0.3s;
}

.teamName {
  color: white;
  font-size: 20pt;
  text-align: center;
  display: block;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
}

.teamPoints {
  text-align: center;
  display: block;
  color: #00ff00;
  transition-duration: 0.3s;
}

#crown {
  position: absolute;
  width: 42%;
  height: 29%;
  transform: rotate(-11deg);
  top: -17%;
  left: 20%;
  padding-top: 20px;
  opacity: 0;
  filter: opacity(0);
}

.p1 {
  left: 50%;
  top: 18vh;
  transform: translate(-50%, 0%);
}

.p2 {
  left: 25%;
  top: 23vh;
  transform: translate(-50%, 0%);
}

.p3 {
  right: 25%;
  top: 23vh;
  transform: translate(50%, 0%);
}

.podiumMainNumber {
  border-radius: 100%;
  width: 8vh;
  height: 8vh;
  position: absolute;
  right: 0%;
  top: 7%;
  font-size: 4vh;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3)
}

.p1stNumber {
  background: linear-gradient(to bottom right, #FFEB3B, #FF9800);
}

.p2ndNumber {
  background: linear-gradient(to bottom right, #FAFAFA, #BDBDBD);
}

.p3rdNumber {
  background: linear-gradient(to bottom, #BF360C, hsl(14, 87%, 26%));
  color: white;
}

#bluebody {
  background-color: #1c3295;
  min-height: 110vh;
  width: 100%;
}

.outter {
  overflow-x: hidden;
  -ms-overflow-style: none;
  position: relative;
  transform: translate(0, -50%);
  height: 50vh;
  width: 100%;
  z-index: -1;
}

.roundTop {
  width: 120%;
  height: 40vw;
  max-height: 280px;
  border-radius: 100%;
  background-color: #1c3295;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

#podiumHolder {
  margin-top: -40vh;
}

.leaderBoard {
  width: 50vw;
  min-height: 50px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.38);
  border-radius: 4px;
  margin-bottom: 5px;
  line-height: 3;
  font-size: 14pt;
  font-weight: bold;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: listLoadAnimation;
  animation-timing-function: ease-out;
  overflow: hidden;
}

.position {
  width: 7vw;
  text-align: center;
  display: inline-block;
  color: #3f51b5;
  transition-duration: .2s;
}

.teamPointsList {
  float: right;
  margin-right: 3vw;
  color: #026602;
  font-weight: normal;
  transition-duration: 0.3s;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.lastUpdatedClass {
  text-align: center;
  color: lightgray;
  margin-top: 560px;
  font-size: 10pt;
  transition-duration: 0.3s;
}

/* Positions for the list */

.pos3 {
  margin-top: 0px;
  animation-duration: 1s;
}

.pos4 {
  margin-top: 60px;
  animation-duration: 1.1s;
}

.pos5 {
  margin-top: 120px;
  animation-duration: 1.2s;
}

.pos6 {
  margin-top: 180px;
  animation-duration: 1.3s;
}

.pos7 {
  margin-top: 240px;
  animation-duration: 1.4s;
}

.pos8 {
  margin-top: 300px;
  animation-duration: 1.5s;
}

.pos9 {
  margin-top: 360px;
  animation-duration: 1.6s;
}

.pos10 {
  margin-top: 420px;
  animation-duration: 1.7s;
}

.pos11 {
  margin-top: 480px;
  animation-duration: 1.8s;
}

/* Posts */

#posts {
  margin-top: 620px;
  margin-bottom: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#pubTitle {
  width: fit-content;
  color: white;
  text-align: center;
}

.postCard {
  width: 40vw;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1vw;
}

.postTitle {
  margin: 0;
}

.postDate {
  font-size: small;
  margin: 0;
}

/* Opening Animation */

.podium.loaded, #crown.loaded {
  filter: opacity(1);
  opacity: 1;
  padding-top: 0px;
}

@keyframes listLoadAnimation {
  from {width: 0px; max-height: 56px}
  to {width: 50vw; max-height:56px};
}

/* Default Style */

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
  background-color: #1c3295;
}

#header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
  padding-left: 3%;
  line-height: 60px;
  position: fixed;
  transition-duration: 0.3s;
  top: 0%;
  left: 0%;
  z-index: 99;
  background-color: white;
}

#header.headerNoShadow {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  background-color: rgba(0,0,0,0.0);
}

.headerImage {
  height: 40px;
  vertical-align: middle;
}

#logo {
  font-weight: bold;
  margin-left: 0.5%
}

.menu {
  color: dimgray;
  margin-left: 2%;
  transition-duration: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.menu:hover {
  color: black;
}

.menuSelected {
  color: black;
  font-weight: 600;
}

#userPhoto {
  border-radius: 100%;
  background-color: gray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
  position: fixed;
  right: 2.5%;
  top: 7.5px;
  padding-top: 42px;
  width: 42px;
  cursor: pointer;
  background-image: url('../files/image/unknownUser.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition-duration: 0.5s;
}

.popupMenu {
  position: fixed;
  top:70px;
  right: 1%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.28);
  padding: 20px;
  padding-right: 25px;
  min-width: 20vw;
  border-radius: 4px;
  transition-duration: 0.3s;
  z-index: 100;
  background-color: white;
}

.popupTitle {
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.popupSubitle {
  color: dimgray;
  font-size: 14px;
}

.popupItem {
  transition-duration: 0.2s;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.popupItem:hover {
  padding-left: 10px;
  text-decoration: underline;
}

.hide {
  display: none;
  position: fixed;
  top: -1000%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

i.menuIcons {
  display: none;
}

#menu, #menuHolder {
  display: inline;
}

@media all and (max-width: 70em) {
  .podiumImage {
    width: 30vh;
    height: 30vh;
  }
  .podium {
    margin-top: 5vh;
  }
}

/* Mobile adjustments */

@media all and (max-width: 43em) {
  #menu {
    background-color: white;
    width: 60vw;
    height: 100vh;
    max-width: 16em;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.28);
    display: block;
    padding-left: 3vw;
    padding-top: 30px;
    position: absolute;
    left: -65vw;
    top: 0%;
    transition-duration: 0.3s;
  }
  #menu.show {
    left: 0%;
  }
  .menu {
    display: block;
  }
  #menuHolder {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -101;
    transition-duration: 0.3s;
    visibility: hidden;
  }
  #menuHolder.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    visibility: visible;
  }
  i.menuIcons {
    display: inline-block;
  }
  .podiumImage {
    width: 20vh;
    height: 20vh;
  }
  .podium {
    margin-top: 17vh;
  }
  #splashHolder {
    background: linear-gradient(to bottom right, #1565C0, #1A237E);
  }
}

@media all and (max-width: 30em) {
  #userPhoto {
    right: 5.5%;
  }
  .splashImage {
    width: 20vh;
    height: 20vh;
  }
  .prebody {
    height: 40vh;
  }
  #bluebody {
    width: 100vw;
    min-height: 130vh;
  }
  .leaderBoard {
    width: 90vw;
  }
  .podiumImage {
    width: 18vh;
    height: 18vh;
  }
  .roundTop {
    max-height: 30vw;
  }
  .podiumMainNumber {
    width: 5.5vh;
    height: 5.5vh;
    font-size: 2.75vh;
  }
  #podiumHolder {
    padding-top: 25vh;
  }
  .teamName {
    font-size: 14pt;
  }
  .position {
    width: 12vw;
  }
  .p2, .p3 {
    top: 45vh;
  }
  .p1 {
    top: 12vh;
  }
  #podiumImage1 {
    width: 25vh;
    height: 25vh;
  }
  .podium {
    margin-top: 0vh;
  }
  @keyframes listLoadAnimation {
    from {width: 0px; max-height: 56px}
    to {width: 90vw; max-height:56px};
  }
  .postCard {
    width: 80vw;
    margin: 0;
    margin-bottom: 2vw;
  }
}
