body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

#header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
  padding-left: 3%;
  line-height: 60px;
  top: 0%;
  left: 0%;
  position: fixed;
  z-index: 100;
  background-color: white;
}

.headerImage {
  height: 40px;
  vertical-align: middle;
}

#logo {
  font-weight: bold;
  margin-left: 0.5%
}

.menu {
  color: dimgray;
  margin-left: 2%;
  transition-duration: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.menu:hover {
  color: black;
}

.menuSelected {
  color: black;
  font-weight: 600;
}

.loginMenu {
  border-radius: 100%;
  background-color: orange;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
  padding: 2px;
  position: fixed;
  right: 2%;
  top: 7px;
  cursor: pointer;
}

#firebaseui-auth-container {
  margin-top: 30px;
}

#loader {
  text-align: center;
}

h2, p {
  text-align: center;
}

h2 {
  margin-top: 100px;
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 30px;
  width: 50vw; /* Could be more or less, depending on screen size */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*************************************/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

i.menuIcons {
  display: none;
}

#menu, #menuHolder {
  display: inline;
}

/* Mobile adjustments */

@media all and (max-width: 43em) {
  #menu {
    background-color: white;
    width: 60vw;
    height: 100vh;
    max-width: 16em;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.28);
    display: block;
    padding-left: 3vw;
    padding-top: 30px;
    position: absolute;
    left: -65vw;
    top: 0%;
    transition-duration: 0.3s;
  }
  #menu.show {
    left: 0%;
  }
  .menu {
    display: block;
  }
  #menuHolder {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -101;
    transition-duration: 0.3s;
    visibility: hidden;
  }
  #menuHolder.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    visibility: visible;
  }
  i.menuIcons {
    display: inline-block;
  }
  .modal-content {
    margin: 0;
    padding: 30px;
    width: 90vw;
    min-width: 15em;
    border-radius: 0px;
    z-index: 100;
    margin-top: 60px;
    min-height: -webkit-fill-available;
  }
}
